<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Winnipeg Elected - <%= @data['meeting_date'] %> Council Meeting Disposition</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
</head>
<body>
    <header class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
            </div>

            <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-home"></i>WinnipegElected.ca <span>- City Council Meeting Disposition - <%= @data['meeting_date'] %></span></a>
        </div>
        <div id="navbar">
            <ul class="nav navbar-nav">
                <li class="back-top"><a href="#"><i class="glyphicon glyphicon-arrow-up"></i>Back to Top</a></li>
            </ul>
        </div>
    </header>

    <div class="container-fluid">
        <h2 class="manual-section">Winnipeg City Council Meeting &ndash; <%= @data['meeting_date'] %></h2>
        <div class="row">
            <div class="reports-stats col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="info-box">
                    <i class="glyphicon glyphicon-book"></i>
                    <p><%= @data['reports'].size  %></p>
                    <h3>Reports</h3>
                </div>
            </div>
            <div class="motion-stats col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="info-box">
                    <i class="glyphicon glyphicon-send"></i>
                    <p><%= @data['motions'].size + @data['notice_of_motions'].size  %></p>
                    <h3>Motions</h3>
                </div>
            </div>
            <div class="by-law-stats col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="info-box">
                    <i class="glyphicon glyphicon-list-alt"></i>
                    <p><%= @data['bylaws_first_reading'].size + @data['bylaws_passed'].size %></p>
                    <h3>By Laws Read</h3>
                </div>
            </div>
            <div class="recorded-vote-stats col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="info-box">
                    <i class="glyphicon glyphicon-ok-circle"></i>
                    <p><%= @data['recorded_votes'].size %></p>
                    <h3>Recorded Votes</h3>
                </div>
            </div>
        </div>
        <h2 class="manual-section">Attendance</h2>
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="roll_call">
                    <h3><i class="glyphicon glyphicon-user"></i> &nbsp; Council Attendance</h3>
                    <% @data['attendance']['council'].each do |attendee| %>
                        <%
                            image_name = attendee.split(' ').last(2).join('_')
                        %>
                        <div class="attendee">
                            <img src="images/<%= image_name %>.jpg">
                            <p><%= attendee %></p>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="roll_call">
                    <h3><i class="glyphicon glyphicon-user"></i> &nbsp; Public Servant Attendance</h3>
                    <ul>
                        <% @data['attendance']['public_service'].each do |attendee| %>
                            <li><%= attendee %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <h2 class="manual-section" id="navigation">Meeting Dispositions</h2>
        <p class="work-in-progress">
            <i class="glyphicon glyphicon-info-sign"></i> 
            This section is a work in progress. Many of the forthcoming details are missing or truncated.
            <% if @data['dmis'] %> View the <a href="<%= @data['dmis'] %>">PDF version of the <%= @data['meeting_date'] %> disposition</a> to see all the disposition details.<% end %>
        </p>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="section-links">
                    <h3><i class="glyphicon glyphicon-book"></i> &nbsp; Reports</h3>
                    <ul>
                    <% @data['reports'].each do |report| %>
                        <li>
                            &#9679; &nbsp; <%= report['title'] %>
                        </li>
                    <% end %>
                    </ul>
                    <% unless @data['bylaws_first_reading'].empty? %>
                        <br>
                        <h3><i class="glyphicon glyphicon-list-alt"></i> &nbsp; By Laws - First Reading</h3>
                        <ul>
                        <% @data['bylaws_first_reading'].each do |report| %>
                            <li>
                                &#9679; &nbsp; <%= report['subject'] %>
                            </li>
                        <% end %>
                        </ul>
                    <% end %>
                    <br>
                    <h3><i class="glyphicon glyphicon-list-alt"></i> &nbsp; By Laws - 3rd Reading</h3>
                    <ul>
                    <% @data['bylaws_passed'].each do |report| %>
                        <li>
                            &#9679; &nbsp; <%= report['subject'] %>
                        </li>
                    <% end %>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="section-links">
                    <% unless @data['notice_of_motions'].empty? %>
                        <h3><i class="glyphicon glyphicon-send"></i> &nbsp; Notice of Motions</h3>
                        <ul>
                        <% @data['notice_of_motions'].each do |motion| %>
                            <li>
                                &#9679; &nbsp; <%= motion['subject'] %>
                            </li>
                        <% end %>
                        </ul>
                        <br>
                    <% end %>
                    <h3><i class="glyphicon glyphicon-send"></i> &nbsp; Motions</h3>
                    <ul>
                    <% @data['motions'].each do |motion| %>
                        <li>
                            &#9679; &nbsp; <%= motion['subject'] %>
                        </li>
                    <% end %>
                    </ul>
                    <% unless @data['recorded_votes'].empty? %>
                        <br>
                        <h3><i class="glyphicon glyphicon-ok-circle"></i> &nbsp; Recorded Votes</h3>
                        <ul>
                        <% @data['recorded_votes'].each do |vote| %>
                            <li>
                                &#9679; &nbsp; <%= vote['subject'] %>
                            </li>
                        <% end %>
                        </ul>
                    <% end %>
                    <% unless @data['conflict_of_interest_declarations'].empty? %>
                        <br>
                        <h3><i class="glyphicon glyphicon-ok-sign"></i> &nbsp; Conflict of Interest Declarations</h3>
                        <ul>
                        <% @data['conflict_of_interest_declarations'].each do |conflict| %>
                            <li>
                            &#9679; &nbsp; <%= conflict['members'].join(' - ') %> - <%= conflict['subject'] %>
                            </li>
                        <% end %>
                        </ul>
                    <% end %>
                </div>
            </div>
        </div>
        <div class='sections row'>
            <% if @data['youtube'] %>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2 class="manual-section">COUNCIL MEETING VIDEO</h2>
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/<%= @data['youtube'] %>" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <% end %>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2 class="manual-section">ABOUT THIS DOCUMENT</h2>
                <div class="about">
                    <h3><i class="glyphicon glyphicon-pencil"></i> &nbsp; How This Document Was Created</h3>
                    <p>This visualization of the <%= @data['meeting_date'] %> Winnipeg City Council Disposition was created by <a href="http://opendemocracymanitoba.ca">Open Democracy Manitoba</a> using information from the <a href="http://winnipeg.ca/data">Winnipeg.ca Open Data Portal</a>.
                    <p>Dispositions are prepared by the City Clerks' Department using Microsoft Word. Tables are used in the Word Dispositions to structure the council meeting information. Word Dispositions are retrieved by Open Democracy Manitoba from the Winnipeg Open Data Portal and converted, first into JSON (a structured data format) and then into webpages like this one.</a>
                    <br><br>
                    <h3><i class="glyphicon glyphicon-link"></i> &nbsp; Sources</h3>
                    <ul>
                        <% if @data['dmis'] %>
                            <li><a href="<%= @data['dmis'] %>">PDF Version of the <%= @data['meeting_date'] %> Disposition</a></li>
                        <% end %>
                        <% if @data['source_json'] %>
                            <li><a href="<%= @data['source_json'] %>">JSON Version of the <%= @data['meeting_date'] %> Disposition</a></li>
                        <% end %>
                        <li><a href="https://github.com/OpenDemocracyManitoba/Winnipeg-Council-Document-Parser/tree/master/json_dispositions">All JSON Disposition Data Files</a></li>
                        <li><a href="https://github.com/OpenDemocracyManitoba/Winnipeg-Council-Document-Parser">Source Code of Programs Used to Convert Dispositions in Web Pages</a></li>
                    </ul>
                    <p><em>The authoritative source for all Winnipeg City Council Dispositions is the <a href="http://clkapps.winnipeg.ca/dmis/DocSearch.asp?CommitteeType=C&DocumentType=D">Winnipeg Decision Making Information System</a>.</em></p>
                    <br><br>
                    <h3><i class="glyphicon glyphicon-info-sign"></i> &nbsp; Open Democracy Manitoba</h3>
                    <p>Open Democracy Manitoba (ODM) is a community organization that builds online resources with the goal of fostering government accountability, transparency and public education. Our websites are volunteer-run and are operated in the spirit of openness, community and accountability.</p>
                    <p>For more information about our other projects <a href="http://opendemocracymanitoba.ca">visit opendemocracymanitoba.ca</a>.</p>
                </div>
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67716608-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>

