<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @data['meeting_date'] %> Winipeg Council Meeting</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
</head>
<body>
    <header class="navbar navbar-inverse navbar-fixed-top">
        <div class="toggle-nav">
            <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
        </div>

        <a class="navbar-brand" href="#">Winnipeg <span class="lite">City Council</span> Dashboard </a>

        <form class="navbar-form navbar-right hidden-xs">
            <div class="form-group has-feedback">
                <input class="form-control" placeholder="Search" type="text">
                <i class="glyphicon glyphicon-search form-control-feedback"></i>
            </div>
        </form>
    </header>

    <div class="container-fluid">
        <h2 class="manual-section">Winnipeg City Council Meeting &ndash; <%= @data['meeting_date'] %></h2>
        <br>
        <div class="row">
            <div class="duration-stats col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box">
                    <i class="glyphicon glyphicon-book"></i>
                    <p><%= @data['reports'].size  %></p>
                    <h2>Reports</h2>
                </div>
            </div>
            <div class="motion-stats col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box">
                    <i class="glyphicon glyphicon-send"></i>
                    <p><%= @data['motions'].size + @data['notice_of_motions'].size  %></p>
                    <h2>Motions</h2>
                </div>
            </div>
            <div class="by-law-stats col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box">
                    <i class="glyphicon glyphicon-list-alt"></i>
                    <p><%= @data['bylaws_first_reading'].size + @data['bylaws_passed'].size %></p>
                    <h2>By Laws Read</h2>
                </div>
            </div>
            <div class="recorded-vote-stats col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box">
                    <i class="glyphicon glyphicon-ok-sign"></i>
                    <p><%= @data['recorded_votes'].size %></p>
                    <h2>Recorded Votes</h2>
                </div>
            </div>
        </div>
        <h2 class="manual-section">Attendance</h2>
        <br>
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="roll_call">
                    <h2><i class="glyphicon glyphicon-user"></i> &nbsp; Council Attendance</h2>
                    <% @data['attendance']['council'].each do |attendee| %>
                        <%
                            image_name = attendee.split(' ').last(2).join('_')
                        %>
                        <div class="attendee">
                            <img src="images/<%= image_name %>.jpg">
                            <p><%= attendee %></p>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="roll_call">
                    <h2><i class="glyphicon glyphicon-user"></i> &nbsp; Public Servant Attendance</h2>
                    <ul>
                        <% @data['attendance']['public_service'].each do |attendee| %>
                            <li><%= attendee %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <h2 class="manual-section" id="navigation">Meeting Dispositions</h2>
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="section-links">
                    <h2><i class="glyphicon glyphicon-book"></i> &nbsp; Reports</h2>
                    <ul>
                    <% @data['reports'].each do |report| %>
                        <li>
                            &#9679; &nbsp; <%= report['title'] %>
                        </li>
                    <% end %>
                    </ul>
                    <br>
                    <h2><i class="glyphicon glyphicon-list-alt"></i> &nbsp; By Laws - First Reading</h2>
                    <ul>
                    <% @data['bylaws_first_reading'].each do |report| %>
                        <li>
                            &#9679; &nbsp; <%= report['subject'] %>
                        </li>
                    <% end %>
                    </ul>
                    <br>
                    <h2><i class="glyphicon glyphicon-list-alt"></i> &nbsp; By Laws - 3rd Reading</h2>
                    <ul>
                    <% @data['bylaws_passed'].each do |report| %>
                        <li>
                            &#9679; &nbsp; <%= report['subject'] %>
                        </li>
                    <% end %>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="section-links">
                    <% unless @data['notice_of_motions'].empty? %>
                        <h2><i class="glyphicon glyphicon-send"></i> &nbsp; Notice of Motions</h2>
                        <ul>
                        <% @data['notice_of_motions'].each do |motion| %>
                            <li>
                                &#9679; &nbsp; <%= motion['subject'] %>
                            </li>
                        <% end %>
                        </ul>
                        <br>
                    <% end %>
                    <h2><i class="glyphicon glyphicon-send"></i> &nbsp; Motions</h2>
                    <ul>
                    <% @data['motions'].each do |motion| %>
                        <li>
                            &#9679; &nbsp; <%= motion['subject'] %>
                        </li>
                    <% end %>
                    </ul>
                    <br>
                    <h2><i class="glyphicon glyphicon-ok-sign"></i> &nbsp; Recorded Votes</h2>
                    <ul>
                    <% @data['recorded_votes'].each do |vote| %>
                        <li>
                            &#9679; &nbsp; <%= vote['subject'] %>
                        </li>
                    <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <div class='sections row'>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <h2>COUNCIL MEETING VIDEO</h2>
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/QXbU0ln7lo8" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

