<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @data['meeting_date'] %> Winipeg Council Meeting</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
</head>
<body>
    <header class="navbar navbar-inverse navbar-fixed-top">
        <div class="toggle-nav">
            <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
        </div>

        <a class="navbar-brand" href="#">Winnipeg <span class="lite">City Council</span> Dashboard </a>

        <form class="navbar-form navbar-right hidden-xs">
            <div class="form-group has-feedback">
                <input class="form-control" placeholder="Search" type="text">
                <i class="glyphicon glyphicon-search form-control-feedback"></i>
            </div>
        </form>
    </header>

    <div class="container-fluid">
        <h2 class="manual-section">Winnipeg City Council Meeting &ndash; <%= @data['meeting_date'] %></h2>
        <br>
        <div class="row">
            <div class="motion-stats col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box">
                    <i class="glyphicon glyphicon-send"></i>
                    <p><%= @data['motions'].size + @data['notice_of_motions'].size  %></p>
                    <h2>Motions</h2>
                </div>
            </div>
            <div class="recorded-vote-stats col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box">
                    <i class="glyphicon glyphicon-ok-sign"></i>
                    <p><%= @data['recorded_votes'].size %></p>
                    <h2>Recorded Votes</h2>
                </div>
            </div>
            <div class="by-law-stats col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box">
                    <i class="glyphicon glyphicon-list-alt"></i>
                    <p><%= @data['bylaws_first_reading'].size + @data['bylaws_passed'].size %></p>
                    <h2>By Laws Read</h2>
                </div>
            </div>
            <div class="duration-stats col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box">
                    <i class="glyphicon glyphicon-time"></i>
                    <h2>Words Spoken</h2>
                </div>
            </div>
        </div>
        <h2 class="manual-section">Popular Capitalized Phrases &amp; Words</h2>
        <br>
        <div class="row" >
            <div class="chart col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="ct-chart capitalized-phrases">
                   <h2>Popular Capitalized Phrases</h2>
                </div>
            </div>
            <div class="chart col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="ct-chart popular-terms">
                   <h2>Popular Words</h2>
                </div>
            </div>
        </div>
        <h2 class="manual-section">Attendance &amp; Participation</h2>
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="roll_call">
                    <h2><i class="glyphicon glyphicon-user"></i> &nbsp; Attendance in Order of Appreance</h2>
                        <div class="attendee">
                        <img src="images/<!-- %= name.gsub(' ','_') %> -->.jpg">
                        <p><!-- %= # name %> --></p>
                        </div>
                </div>
            </div>
            <div class="chart col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="ct-chart words-spoken">
                   <h2><i class="glyphicon glyphicon-bullhorn"></i> &nbsp; Number of Words Spoken</h2>
                </div>
            </div>
        </div>
        <h2 class="manual-section" id="navigation">Hansard Navigation</h2>
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="section-links">
                    <h2><i class="glyphicon glyphicon-bookmark"></i> &nbsp; Meeting Agenda Items</h2>
                    <ul>
                            <li>
                            &#9679; &nbsp; <a href="#<!-- %= section['type'] + i.to_s % -->" title="<!-- %= name % -->">name</a>
                            </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="section-links">
                    <h2><i class="glyphicon glyphicon-send"></i> &nbsp; Motions</h2>
                    <ul>
                    <% @data['motions'].each do |motion| %>
                        <li>
                            &#9679; &nbsp; <a href="#" title=""><%= motion['subject'] %></a>
                        </li>
                    <% end %>
                    </ul>
                    <br>
                    <h2><i class="glyphicon glyphicon-ok-sign"></i> &nbsp; Recorded Votes</h2>
                    <ul>
                    <% @data['recorded_votes'].each do |vote| %>
                        <li>
                            &#9679; &nbsp; <a href="#" title=""><%= vote['subject'] %></a>
                        </li>
                    <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <div class='sections row'>
            <div class="chat col-lg-6 col-md-12 col-sm-12 col-xs-12">
           </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <h2>COUNCIL MEETING VIDEO</h2>
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/la__Srt3Vks" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

