<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Winnipeg Elected - <%= @data['meeting_date'] %> Council Meeting Disposition</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
</head>
<body>
    <header class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
            </div>

            <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-home"></i>WinnipegElected.ca <span>- City Council Meeting Disposition - <%= @data['meeting_date'] %></span></a>
        </div>
        <div id="navbar">
            <ul class="nav navbar-nav">
                <li class="back-top"><a href="#"><i class="glyphicon glyphicon-arrow-up"></i>Back to Top</a></li>
            </ul>
        </div>
    </header>

    <div class="container-fluid">
        <h2 class="manual-section">Winnipeg City Council Meeting on <%= DateTime.parse(@data['meeting_date']).strftime('%B %d, %Y') %></h2>
        <div class="row">
            <div class="reports-stats col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="info-box">
                    <i class="glyphicon glyphicon-book"></i>
                    <p><%= @data['reports'].size  %></p>
                    <h3>Reports</h3>
                </div>
            </div>
            <div class="motion-stats col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="info-box">
                    <i class="glyphicon glyphicon-send"></i>
                    <p><%= @data['motions'].size + @data['notice_of_motions'].size  %></p>
                    <h3>Motions</h3>
                </div>
            </div>
            <div class="by-law-stats col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="info-box">
                    <i class="glyphicon glyphicon-list-alt"></i>
                    <p><%= @data['bylaws_first_reading'].size + @data['bylaws_passed'].size %></p>
                    <h3>By Laws Read</h3>
                </div>
            </div>
            <div class="recorded-vote-stats col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="info-box">
                    <i class="glyphicon glyphicon-ok-circle"></i>
                    <p><%= @data['recorded_votes'].size %></p>
                    <h3>Recorded Votes</h3>
                </div>
            </div>
        </div>
        <h2 class="manual-section">Attendance</h2>
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="roll_call">
                    <h3><i class="glyphicon glyphicon-user"></i> &nbsp; Council Attendance</h3>
                    <% @data['attendance']['council'].each do |attendee| %>
                        <%
                            image_name = attendee.split(' ').last(2).join('_') + '.jpg'
                        %>
                        <div class="attendee">
                            <img src="images/<%= image_name %>" alt="<%= attendee %>">
                            <p><%= attendee %></p>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="roll_call">
                    <h3><i class="glyphicon glyphicon-user"></i> &nbsp; Public Servant Attendance</h3>
                    <ul>
                        <% @data['attendance']['public_service'].each do |attendee| %>
                            <li><%= attendee %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <h2 class="manual-section" id="navigation">Meeting Dispositions</h2>
        <p class="work-in-progress">
            <i class="glyphicon glyphicon-info-sign"></i> 
            The follow sections are a work in progress. Improved navigation and better text formatting to come. Use Ctrl-F to search for reports, motions and by laws.
            <br><br>
            <% if @data['dmis'] %> View the <a href="<%= @data['dmis'] %>">PDF version of the <%= @data['meeting_date'] %> disposition</a> to see full disposition details.<% end %>
        </p>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="manual-section"><i class="glyphicon glyphicon-book"></i> &nbsp; Reports</h2>
                <% @data['reports'].each do |report| %>
                    <h3><%= report['committee'] %> <span class="small"><%= report['date'] %></span></h3>
                        <table class="table table-condensed report-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>Disposition</th>
                                </tr>
                            </thead>
                            <% report['items'].each do |item| %>
                                <tr>
                                    <td><%= item['number'] %></td>
                                    <td><%= item['title'] %></td>
                                    <td><%= item['disposition'] %></td>
                                </tr>
                            <% end %>
                        </table>
                <% end %>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="manual-section"><i class="glyphicon glyphicon-send"></i> &nbsp; Motions</h2>
                <% if @data['notice_of_motions'].any? %>
                    <h3>Notice of Motion</h3>
                    <table class="table table-condensed notice-table">
                        <tr>
                            <th>Movers</th>
                            <th>Subject</th>
                            <th>Disposition</th>
                        </tr>
                        <% @data['notice_of_motions'].each do |motion| %>
                            <tr>
                                <td><%= motion['movers'].join(', ') %></td>
                                <td><%= motion['subject'] %></td>
                                <td><%= motion['disposition'] %></td>
                            </tr>
                        <% end %>
                    </table>
                <% end %>
                <h3>Council Motions</h3>
                <% if @data['motions'].empty? %>
                    <p>No motions were made.</p>
                <% else %>
                    <table class="table table-condensed motion-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Movers</th>
                                <th>Subject</th>
                                <th>Disposition</th>
                            </tr>
                        </thead>
                        <% @data['motions'].each do |motion| %>
                            <tr>
                                <td><%= motion['number'] %></td>
                                <td><%= motion['movers'].join(', ') %></td>
                                <td><%= motion['subject'] %></td>
                                <td><%= motion['disposition'] %></td>
                            </tr>
                        <% end %>
                    </table>
                <% end %>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2><i class="glyphicon glyphicon-list-alt"></i> &nbsp; By Laws</h2>
                <% if @data['bylaws_first_reading'].any? %>
                    <h3>By Laws - First Reading</h3>
                    <table class="table table-condensed motion-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Subject</th>
                                <th>Disposition</th>
                            </tr>
                        </thead>
                        <% @data['bylaws_first_reading'].each do |bylaw| %>
                            <tr>
                                <td><%= bylaw['number'] %></td>
                                <td><%= bylaw['subject'] %></td>
                                <td><%= bylaw['disposition'] %></td>
                            </tr>
                        <% end %>
                    </table>
                <% end %>
                <% if @data['bylaws_passed'].any? %>
                    <h3>By Laws - 3rd Reading</h3>
                    <table class="table table-condensed motion-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Subject</th>
                                <th>Disposition</th>
                            </tr>
                        </thead>
                        <% @data['bylaws_passed'].each do |bylaw| %>
                            <tr>
                                <td><%= bylaw['number'] %></td>
                                <td><%= bylaw['subject'] %></td>
                                <td><%= bylaw['disposition'] %></td>
                            </tr>
                        <% end %>
                    </table>

                <% end %>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <% unless @data['recorded_votes'].empty? %>
                    <br>
                    <h2><i class="glyphicon glyphicon-ok-circle"></i> &nbsp; Recorded Votes</h2>
                    <% @data['recorded_votes'].each do |vote| %>
                        <h3><%= vote['subject'] %></h3>
                        <h4>Outcome of Vote: <%= vote['disposition'] %></h4>
                        <p><strong>Yeas / For:</strong> <%= vote['yeas'].join(', ') %></p>
                        <p><strong>Nays / Against:</strong> <%= vote['nays'].join(', ') %></p>
                    <% end %>
                <% end %>
                <% unless @data['conflict_of_interest_declarations'].empty? %>
                    <br>
                    <h2><i class="glyphicon glyphicon-ok-sign"></i> &nbsp; Conflict of Interest Declarations</h2>
                    <% @data['conflict_of_interest_declarations'].each do |conflict| %>
                        <h4><%= conflict['members'].join(' - ') %> - <%= conflict['subject'] %></h4>
                    <% end %>
                <% end %>
                <br>
                <p class="work-in-progress">
                    <% if @data['dmis'] %>
                        <i class="glyphicon glyphicon-info-sign"></i> View the <a href="<%= @data['dmis'] %>">PDF version of the <%= @data['meeting_date'] %> disposition</a> to see all the disposition details.
                        <br>
                        <br>
                        <br>
                    <% end %>
                </p>
            </div>
        </div>
        <div class='sections row'>
            <% if @data['youtube'] %>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2 class="manual-section">COUNCIL MEETING VIDEO</h2>
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/<%= @data['youtube'] %>" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <% end %>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2 class="manual-section">ABOUT THIS DOCUMENT</h2>
                <div class="about">
                    <h3><i class="glyphicon glyphicon-pencil"></i> &nbsp; How This Document Was Created</h3>
                    <p>This visualization of the <%= @data['meeting_date'] %> Winnipeg City Council Disposition was created by <a href="http://opendemocracymanitoba.ca">Open Democracy Manitoba</a> using information from the <a href="http://data.winnipeg.ca">Winnipeg.ca Open Data Portal</a>.
                    <p>Dispositions are prepared by the City Clerks' Department using Microsoft Word. Tables are used in the Word Dispositions to structure the council meeting information. Word Dispositions are retrieved by Open Democracy Manitoba from the Winnipeg Open Data Portal and converted, first into JSON (a structured data format) and then into webpages like this one.</p>
                    <br><br>
                    <h3><i class="glyphicon glyphicon-link"></i> &nbsp; Sources</h3>
                    <ul>
                        <% if @data['dmis'] %>
                            <li><a href="<%= @data['dmis'] %>">PDF Version of the <%= @data['meeting_date'] %> Disposition</a></li>
                        <% end %>
                        <% if @data['source_json'] %>
                            <li><a href="<%= @data['source_json'] %>">JSON Version of the <%= @data['meeting_date'] %> Disposition</a></li>
                        <% end %>
                        <li><a href="https://github.com/OpenDemocracyManitoba/Winnipeg-Council-Document-Parser/tree/master/json_dispositions">All JSON Disposition Data Files</a></li>
                        <li><a href="https://github.com/OpenDemocracyManitoba/Winnipeg-Council-Document-Parser">Source Code of Programs Used to Convert Dispositions in Web Pages</a></li>
                    </ul>
                    <p><em>The authoritative source for all Winnipeg City Council Dispositions is the <a href="http://clkapps.winnipeg.ca/dmis/DocSearch.asp?CommitteeType=C&DocumentType=D">Winnipeg Decision Making Information System</a>.</em></p>
                    <br><br>
                    <h3><i class="glyphicon glyphicon-info-sign"></i> &nbsp; Open Democracy Manitoba</h3>
                    <p>Open Democracy Manitoba (ODM) is a community organization that builds online resources with the goal of fostering government accountability, transparency and public education. Our websites are volunteer-run and are operated in the spirit of openness, community and accountability.</p>
                    <p>For more information about our other projects <a href="http://opendemocracymanitoba.ca">visit opendemocracymanitoba.ca</a>.</p>
                </div>
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67716608-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>

